.text-gray {
  color: var(--bs-gray-light)
}

.articles {
  overflow-y: auto;
  max-height: 450px;

  .article-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;

    &:hover {
      opacity: 80%;
    }
  }

  @media (max-width: 1366px) {
    .photos {
      max-height: calc(100vh - 540px);
    }
  }

  @media (max-width: 768px) {
    max-height: 490px;
  }
}

