<app-breadcrumbs [breadcrumbs]="breadcrumbs"/>

<div class="p-3 rounded-4 bg-light mb-4">
  <div class="d-flex flex-column gap-2">
    <div class="my-2 ">
      <h3 class="fs-1 fw-bold">Albums</h3>
      <p>Here's a list of all the albums and some recent photos.</p>
    </div>

    <app-search-filters [itemsPerPage]="itemsPerPage" [searchText]="searchText" [users]="users"
                        [selectedUserId]="selectedUserId" (newItemsPerPage)="onItemsPerPageSelected($event)"
                        (newSearchInput)="onSearchInput($event)" (newUserSelected)="onUserSelected($event)"/>

    <ng-container *ngIf="albumsRes && albumsRes.total > 0; else noAlbumsTemplate">
      <div class="row g-3 albums">
        <div class="col-md-3" *ngFor="let album of albumsRes?.albums; trackBy trackByAlbum">
          <div class="d-flex flex-column  rounded-4 border border-2 border-success p-3">
            <h4 class="fw-semibold text-truncate">{{album.title}}</h4>
            <div class="small">Created By <span class="fw-medium">{{findUserById(album.userId)?.name}}</span></div>

            <div class="row mt-2 w-100 g-2">
              <div class="col-sm-3" *ngFor="let photo of album.photos;">
                <img class="rounded-2" style="height: 60px" [src]="photo.thumbnailUrl" [alt]="photo.title">
              </div>
            </div>

            <button class="btn btn-danger mt-4" >
              <a routerLink="/albums/{{album.id}}" class="small d-flex align-items-center gap-2">
                View more
                <i class="bi bi-arrow-right"></i>
              </a>
            </button>
          </div>
        </div>
      </div>

      <app-pagination [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [lastPage]="lastPage"
                      (newPageNumber)="onPageChange($event)"/>
    </ng-container>
  </div>
</div>

<ng-template #noAlbumsTemplate>
  <div class="my-5 text-center">
    No albums found!
  </div>
</ng-template>
