header {
  z-index: 999;
  width: 100%;

  form {
    position: relative;

    .search-input {
      border: none;
      font-weight: 300;
      font-size: 14px;
      padding: 0.7rem 1rem 0.7rem 2.5rem;
      min-width: 300px;

      &::placeholder {
        color: var(--bs-light)
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
      }
    }

    .search-icon {
      position: absolute;
      left: 10px;
    }
  }
}

// FOR MOBILE AND SMALL TABLET
@media (max-width: 768px) {
  header {
    form {
      .search-input {
        width: 200px !important;
        min-width: auto !important;
      }
    }
  }
}


// FOR LAPTOP AND UP
@media (min-width: 992px) {
  header {
    &.width-collapse {
      width: calc(100% - 84px);
    }

    &.width-expand {
      width: calc(100% - 280px);
    }
  }
}
