@import './assets/styles/custom-typography';
@import './assets/styles/scrollbar';

/* Override bootstrap default colors */
$primary: #232946;
$secondary: #444962;
$success: #bbebee;
$info: #d4d8f0;
$light: #f4f6ff;
$danger: #eebbc3;
$text-muted: #b7bbc9;
$yellow: #f2c94c;
$gray-300: #d4d8f0;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "node_modules/ngx-spinner/animations/square-jelly-box.css";


:root {
  --bs-gray-dark: #5a5f74;
  --bs-gray-light: #b7bbc9;
}


html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
}

a, .customer-link {
  text-decoration: none;
  transition: all 0.1s ease-in;

  &:hover {
    cursor: pointer;
    color: var(--bs-yellow)
  }
}
